<div>
    <form id="GetResForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="ipPnr">PNR</label>
                <input type="text" class="form-control" id="ipPnr" value="UUYMYU">
            </div>         
        </div>

        <div class="col-12">
            <label for="{{new-random 'response-field'}}">Response</label>
            <textarea rows="30" cols="90" name="response" id="{{new-random 'response-field'}}"
                      class="not-empty form-control input-form response">
            </textarea>
        </div>

    </form>

</div>