<div>
    <ol class="entries-ol-{{@index}}">
        {{#each entries.entries}}
        <li>
            <ul class="entry-ul-{{@index}}">
                <li class="location">Location: {{location}}</li>
                <li class="origin">Origin: {{origin}}</li>
                <li class="destination">Destination: {{destination}}</li>
                <li class="start">Start: {{start}}</li>
                <li class="end">End: {{end}}</li>
            </ul>
        </li>
        {{/each}}
    </ol>
</div>