<div>
    <h2>My First Form</h2>
    <p>I know this is not a form but right now I'm more interested in just popping up a form. Baby steps - right?</p>

    <form>
        <label>
          Name:
          <input type="text" name="name" />
        </label>
        <textarea>
            Hello there, this is some text in a text area
          </textarea>
          <select>
            <option value="grapefruit">Grapefruit</option>
            <option value="lime">Lime</option>
            <option selected value="coconut">Coconut</option>
            <option value="mango">Mango</option>
          </select>
        <input type="submit" value="Submit" />
      </form>

</div>