<div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div>
<p>This is my modal window but it could be a form.
    <ul>
        <li>Display Modal - done</li>
        <li>Surround with action buttons - done</li>
        <li>When clicking on the action buttons do console.log to show you have a grip on each location. Not sure where this is controlled had assumed the .ts file?</li>
        <li>close the Popover - done </li>
        <li>The action buttons don't do anything - hitting close or submit don't even close the modal window.</li>
    </ul>
</p>
