@import "../../core/styles/core-styles";

:root {
  --sasblue: #0378cd;
  --saspowder: #eaf6ff;
  --saslightblue: #85cbfd;
  --sasdenim: #013459;
  --sasazure: #0c97fb;
}

.com-sabre-example-redapp-web-module {
  // * {
  //   margin: 10px;
  // }

  .popover-wrapper {
    display: grid;
    grid-template-areas:
      "header header"
      "aside article"
      "footer footer";
    grid-template-columns: 1fr 15fr;
    overflow: hidden;

    header {
      grid-area: header;
      //background-color: #eaf6ff;
      background-color: var(--saspowder);
      padding: 10px;
      display: flex;
      justify-content: space-between;

      h3 {
        margin: 0px;
      }

      img {
        height: 31px;
        width: 75px;
      }
    } // end of header

    aside {
      grid-area: aside;
      background-color: var(--sasdenim);
      color: white;
      padding: 0px;

      .nav-tabs {
        border-bottom: none;
      }

      li {
        float: none;
        margin: 0;

        a {
          margin-right: 0;
          border: 0;
          border-radius: 0;
          padding: 10px 25px;
          text-align: center;

          &:hover {
            background-color: var(--sasazure);
          }
        }
      }

      .fa {
        color: #fff;
      }

      .active .fa {
        color: var(--sasdenim);
      }
    } // end of aside

    article {
      grid-area: article;
      padding: 10px;
      overflow-y: auto;
      .tab-pane {
        display: none;
        background-color: #fff;
        padding: 1rem;

        h3 {
          margin-top: 0px;
        }
      }
      .active {
        display: block;
      }
    } // end of article

    footer {
      grid-area: footer;
      background-color: var(--saspowder);
      padding: 10px;
      display: flex;
      //align-self: flex-end;
      justify-content: flex-end;
      button {
        margin-left: 10px;
      }
    }

    .centerContent {
      // display: flex;
      // justify-content: center;
      text-align: center;
    }

    .rightContent {
      // display: flex;
      // justify-content: right;
      text-align: right;
    }
  } // of popover-wrapper

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  .hideit {
    display: none;
  }
}

.sas-bottom-right {
  display: flex;
  justify-content: flex-end;
}

.sas_passport_grid {
  .row {
    margin-bottom: 5px;
    display: flex;
  }
  input[type="text"] {
    width: 4em;
  }
  tbody tr td:last-child {
    vertical-align: middle;
  }

  Button {
    margin: 20px;
  }
}

.sas_scripts_component {
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: 0;
  }

  .panel-heading > .panel-title {
    float: left;
  }

  .panel-heading > .x {
    float: right;
  }

  .panel-heading > .panel-title > img {
    height: 31px;
    width: 75px;
  }

  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 12px 18px;
    background-color: #eaf6ff;
    height: 50px;
  }
  .row {
    height: 240px;
    display: flex;
  }
  .navLeft {
    float: left;
    background-color: #031459;
  }

  .nav-tabs {
    float: left;
    background-color: #031459;

    li {
      float: none;
      margin: 0;

      a {
        margin-right: 0;
        border: 0;
        border-radius: 0;
        //background-color: #031459;

        &:hover {
          background-color: #0c97fb;
        }
      }
    }

    .fa {
      color: #fff;
    }

    .active .fa {
      color: #031459;
    }
  }

  .tab-content {
    margin-left: 45px;

    .tab-pane {
      display: none;
      background-color: #fff;
      padding: 1.6rem;

      overflow-y: auto;

      h3 {
        margin-top: 0px;
      }
    }

    .active {
      display: block;
    }
  }

  .list-group {
    width: 100%;

    .list-group-item {
      height: 50px;

      h4,
      span {
        line-height: 11px;
      }
    }
  }
  .buttons-container-row {
    margin: 0;
  }

  .fields-container {
    padding: 9px 6px 9px 6px;
  }

  label input {
    font-size: 10px;
  }

  .input-field {
    width: 100%;
  }

  .text-command-button,
  .cancel-button {
    margin: 6px;
  }

  .input-field-checkbox {
    margin-left: 12px;
    margin-right: 12px;
  }

  .buttons-container {
    background-color: #eaf6ff;
    border-bottom: 1px solid transparent;
    padding: 9px 15px 9px 15px;
    display: flex;
  }
  .buttons-container > .right-buttons {
    margin-left: auto;
  }

  .btn-success {
    background-color: #031459;
  }
  .btn-success.btn-outline:not(.disabled),
  .btn-success.btn-outline:not([disabled]) {
    color: #031459;
    background-color: transparent;
  }
}
.sas-float-left {
  float: left;
  width: 25%;
}

.sas-float-right {
  float: right;
}

.sascolor {
  color: #031459;
}
.com-sabre-redapp-example3-web-assets-web-module {
  background: black;
  color: white;
}
.com_sabre_example_redapp_web_module_forms_service {
  .sample-form-container {
    .row {
      margin: 0;
    }

    .fields-container {
      padding: 9px 6px 9px 6px;
    }

    label input {
      font-size: 10px;
    }

    .input-field {
      width: 100%;
    }

    .text-command-button,
    .cancel-button {
      margin: 6px;
    }

    .input-field-checkbox {
      margin-left: 12px;
      margin-right: 12px;
    }

    .right-buttons {
      float: right;
    }

    .buttons-container {
      background-color: @gray-lighter;
      border-top: 1px solid @gray-bg;
      padding: 9px 15px 9px 15px;
    }
  }
}

.sas_scripts_grid {
  display: grid;
  // grid-template-rows: 50px 350px;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 1fr 15fr;
  //grid-gap: 0px;
  overflow: hidden;

  header {
    grid-area: header;
    background-color: #eaf6ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0px;
    }
    span {
      //display: block;
      vertical-align: top;
    }

    img {
      // display: inline-block;
      height: 31px;
      width: 75px;
    }
  }

  aside {
    grid-area: sidebar;
    background-color: #031459;
    color: white;
    padding: 0px;

    .nav-tabs {
      border-bottom: none;
    }

    li {
      float: none;
      margin: 0;

      a {
        margin-right: 0;
        border: 0;
        border-radius: 0;
        padding: 10px 25px;
        text-align: center;

        &:hover {
          background-color: #0c97fb;
        }
      }
    }

    .fa {
      color: #fff;
    }

    .active .fa {
      color: #031459;
    }
  }

  article {
    grid-area: content;
    padding: 10px;
    overflow-y: auto;
    .tab-pane {
      display: none;
      background-color: #fff;
      padding: 1rem;

      h3 {
        margin-top: 0px;
      }
    }
    .active {
      display: block;
    }
  }

  // footer {
  //   grid-area: footer;
  //   background-color: #eaf6ff;
  //   border-bottom: 1px solid transparent;
  //   padding: 9px 15px;
  //   button {
  //     float: right;
  //     background-color: #031459;
  //     &:hover {
  //       background-color: #0c97fb;
  //     }
  //   }
  // }
}

.tabsexample {
  // display: grid;
  width: 80%;
  height: 50%;
  color: black;
  .tab-pane {
    display: none;
  }
  .active {
    display: block;
  }
  .nav-pills {
    margin-right: 20px;
  }
}

.sas_scripts_grid_bs {
  header {
    background-color: #eaf6ff;
    padding: 10px;
    height: 50px;

    h3 {
      float: left;
      margin: 0px;
      padding-left: 20px;
      color: #031459;
      font-family: "Avenir Next", Calibri;
    }
    span {
      float: right;
      margin: 0px;
      padding: 0px;
    }
    img {
      height: 31px;
      width: 75px;
      float: left;
    }
  }

  aside {
    background-color: #031459;
    color: white;
    padding: 0px;
    width: 50px;
    float: left;

    .nav-tabs {
      border-bottom: none;
    }

    li {
      float: none;
      margin: 0;

      a {
        margin-right: 0;
        border: 0;
        border-radius: 0;

        &:hover {
          background-color: #0c97fb;
        }
      }
    }

    .fa {
      color: #fff;
    }

    .active .fa {
      color: #031459;
    }
  }

  article {
    padding: 0px 10px;
    margin-left: 40px;
    overflow-y: auto;

    .tab-pane {
      display: none;
      background-color: #fff;
      padding: 1rem;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0px;
      }
    }
    .active {
      display: block;
    }
  }
}

.com-sabre-example-redapp-web-module {
  .form-row {
    margin-bottom: 10px;
  }
}

.sas-main-popover-passport-documentation {
  .row {
    margin: 1em;
  }
  input[type="text"] {
    width: 4em;
  }
  tbody tr td:last-child {
    vertical-align: middle;
  }
}
